body {
    
    font-family: 'Poppins', Helvetica, sans-serif;
    
}
.navbar{
   background-color: #f7f7f7;   
}
h1{
    color:#840808;
    font-weight: 400;
    font-size: clamp(1em, 2.5vw, 3vw);
}

.card-img-block {
    width: 85%;
    margin: 0 auto;
    position: relative;
    top: -20px;
    
}
.floting-card .card-img-block img{
    border-radius:5px;
    box-shadow:0 0 10px rgba(0,0,0,0.63);
}
.floting-card{
    background-color: #f7f7f7;
}
.card-title{
    color: #840808;
    font-weight: 600;
}
.card-text{
    font-weight: 400;
}

a {
    text-decoration: none;
    transition: 0.3s;
}
  
a:hover {
    opacity: 0.7;
}
.tag1{    
    background-color: #4CAF50;
    color: #FFFFFF;
    font-weight: 300;
}
.tag2{    
    background-color: #48D1CC;
    color: #FFFFFF;
    font-weight: 300;
}
.tag3{    
    background-color: #AA2B11;
    color: #FFFFFF;
    font-weight: 300;
}
.img-box{
    width: 18vw;
    
}
.top-box{
    border-radius: 10px;
    background-color: #f7f7f7;
}
.accordion-button{
    background-color: #f7f7f7;
    font-weight: 500;
    box-shadow: none;
}
.accordion-button:not(.collapsed){
    background: rgba(0, 0, 0, 0.1);
    color: black;
}

.accordion-button:focus {
    box-shadow: none;
  }

  .accordion-button:hover{
    background: rgba(0, 0, 0, 0.1);
    color: black;
}
.veja_title{
    font-size: 1.5rem;
    background-color: #f7f7f7;
    border: 1px solid #aeaeb8;
}
.veja{
    border: 1px solid #aeaeb8;
}
.veja_items{
    list-style: none;
    color: #840808;
    line-height: 2rem;
}
.veja_item{
    color: #840808;    
}